body {
    max-width: 40em;
    margin: 2em auto;
    line-height: 1.5em;

    font-family: -apple-system,sans-serif;
    font-size: 1.2em;
}

header {
    border-bottom: solid 2px #666;
    margin-bottom: 2em;
}

main {
    min-height: 20em;
}

footer {
    border-top: solid 2px #666;
    margin-top: 2em;
}

hr {
    margin: 2em 0;
}

a.fa,
span.fa {
    text-decoration: none;
    font-size: 2em;
}

pre {
    background-color: beige;
}

code {
    font-size: 0.9em;
}

.screen-reader-text {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.screen-reader-text:focus {
    clip: auto;
    clip-path: none;
    display: block;
    left: 0.5em;
    top: 0.5em;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.post-thumbnail {
    padding: 0 50px 50px 0;
    float: left;
}

button.expandable {
    background: #555;
    border: 0;
    color: #eee;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    vertical-align: middle;
    width: auto;
}

button.expandable + [aria-hidden] {
    display: none;
}

button.expandable + [aria-hidden="false"] {
    display: block;
}

.expanded-content {
    padding: 1em 0;
}

.expanded-content img {
    width: 80%;
    height:auto;
}

blockquote {
    font-size: 1.3em;
    margin-left: 0;
    padding-left: 1em;
    border-left: 2px solid #555;
}

.expanded-content blockquote footer {
    border: 0;
    margin: 0;
}

.form-chars-remaining textarea {
    width:20em;
    height:5em;
}
